.about {
  padding: 0 25px;
  margin: 0 auto 100px;
  max-width: 1270px;

  &__caption {
    @include caption;
    margin: 0 auto 10px;
  }

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 35px;
  }

  &__container {
    @media (min-width: $md) {
      display: flex;
      flex-direction: row-reverse;
      gap: 30px;
      align-items: center;
    }
  }

  &__content {
    @media (min-width: $md) {
      padding-top: 30px;
    }
  }

  &__description {
    @include paragraph;
    margin-bottom: 35px;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;

    @media (min-width: $md) {
      justify-content: flex-start;
      gap: 25px;
    }
  }

  &__button {
    @include button;

    &--outline {
      @include button("outline");
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }
  }

  &__picture {
    margin: auto;
  }

  &__image {
    width: 100%;

    @media (min-width: $md) {
      min-width: 638px;
    }
  }
}
