.hero {
  padding: 0 15px;
  margin-bottom: 99px;

  @media (min-width: $md) {
    max-width: 1400px;
    margin: 0 auto 100px;
  }

  &__title {
    @include title("large");
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $lg) {
      max-width: 750px;
      margin: auto;
      margin-bottom: 24px;
    }
  }

  &__description {
    @include paragraph;
    text-align: center;
    margin-bottom: 20px;
    opacity: 60%;

    @media (min-width: $lg) {
      max-width: 770px;
      margin: 0 auto 32px;
    }
  }

  &__button {
    @include button;
    margin: auto;
    margin-bottom: 50px;
  }

  &__image {
    width: 100%;
  }
}
