.hero {
  padding: 0 15px;

  &__title {
    @include title("large");
    margin-bottom: 20px;
  }

  &__description {
    @include paragraph;
    text-align: center;
    margin-bottom: 20px;
    opacity: 60%;
  }

  &__button {
    @include button;
    margin: auto;
    margin-bottom: 50px;
  }

  &__image {
    width: 100%;
  }
}
